$cor-primaria: #ff9100b9;
$cor-segundaria: #fcc142;
$cor-button: #3a6ebd;

/*$dark-mode: (
    "text": #ffffff00;
    "bottom": ;
    "symbol": #;
);
$clear-mode: (
    "text": #;
    "bottom": #;
    "symbol": #;
);*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin centralize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6pc;
}

@mixin cardSize {
    width: 300px;
    height: 350px;
    text-align: center;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
h4 {
    margin-top: 30px;
}

#container {
    @include centralize;
}

.cardOne {
    @include cardSize;
    background-color: $cor-primaria;
}
.cardTwo {
    @include cardSize;
    background-color: $cor-segundaria;
}

#themeToggle {
    background-color: 4B0082;
}
button {
    background-color: $cor-button;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
}